<h3>Комментарии <span style="color: #777">{{commentsService?.comments?.length == null ? 0 : commentsService?.comments?.length}}</span></h3>

<div class="comments">
  <app-comments-lvl
    [comments]="commentsService?.tree"
    [likedComments]="commentsService?.likedComments"
    [checkLiked]="checkLiked.bind(this)"
    [currentAccount]="currentAccount"
    [currentAccountId]="currentArticleId"
    [currentLvl]="0"
    [likeComment]="likeComment.bind(this)"
    [updateCommentAfterLike]="updateCommentAfterLike.bind(this)"
    [sendSubComment]="sendSubComment.bind(this)"
  >
  </app-comments-lvl>

  <p *ngIf="!commentsService?.comments?.length">Нет комментариев...</p>
</div>

<h3 style="margin-top: 50px" *ngIf="currentAccount?.id && sendBlock">Написать комментарий</h3>
<div class="wrapper" *ngIf="currentAccount?.id && sendBlock">
  <div class="comment-send__header">
    <div class="comment-send__account">
      <div class="account__pic" [class.account__no-pic]="!currentAccount?.pic"
           [style.background]="currentAccount?.pic ? 'center / 100% auto no-repeat url(\'' + currentAccount?.pic + '\')' : 'rgb(255,134,134)'"></div>
      <div>
        <p class="comment-send__name">{{currentAccount?.firstname}} {{currentAccount?.lastname}}</p>
        <p class="comment-send__name">{{currentAccount?.rating}}</p>
      </div>
    </div>
  </div>
  <form (submit)="sendNewComment()" [formGroup]="form">
    <textarea cols="30" rows="10" class="comment-send__input" formControlName="text"></textarea>
    <div class="comment-send__footer">
      <button class="comment-send__submit" type="submit">Отправить</button>
    </div>
  </form>
</div>
