<div class="header">
  <a class="header-logo" routerLink="/"
  >habr</a>

  <div class="header__nav-bar">
    <nav>
      <a
        class="header__link"
        routerLink="sections"
      >Разделы</a>
      <a
        class="header__link"
        [routerLink]="'/account/' + currentAccount?.id"
        *ngIf="currentAccount?.id != undefined"
      >Мой аккаунт</a>
      <button
        class="header__link button"
        routerLink="/auth"
        *ngIf="currentAccount?.id == undefined"
      >Авторизация</button>
    </nav>
  </div>
</div>
