<div class="header">
  <a class="header-logo" routerLink="/"
  >kurchan</a>

  <div class="header__nav-bar">
    <nav>
      <a
        class="header__link"
        routerLink="sections"
      >Разделы</a>
      <a
        class="header__link"
        [routerLink]="'/article/create'"
        *ngIf="currentAccountId != undefined"
      >Создать статью</a>
      <a
        class="header__link"
        [routerLink]="'moderate'"
        appRolesModerate
      >Модерация</a>
      <a
        class="header__link"
        [routerLink]="'/account/' + currentAccountId"
        *ngIf="currentAccountId != undefined"
      >{{currentAccount.login}}</a>
      <button
        class="header__link button"
        (click)="exitAuth()"
        *ngIf="currentAccountId != undefined"
      >Выйти</button>
      <button
        class="header__link button"
        routerLink="/auth"
        *ngIf="currentAccountId == undefined"
      >Авторизация</button>
    </nav>
  </div>
</div>
