.content {
  margin-bottom: 50px;
}

.form {
  textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 20vh;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px;
  }

  .button-submit {
    border: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 30px;
    background: #22223b;
    border-radius: 3px;
    color: white;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      background: #4e4e73;
    }
  }

  .footer {
    margin-top: 30px;
    display: flex;
    justify-content: end;
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
  }
}

.control-error {
  border: 1px solid red !important;
}

.title-error {
  color: red;
}

.button-disabled {
  opacity: 0.4;
}

.text {
  font-size: 20px;
  font-weight: bold;
}

.block {
  align-items: end;
}

.button {
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background: #ffe64b;
  }
}

.button-back {
  background: #ffee9a;
}
.button-delete {
  background: rgb(193, 45, 45);
  color: white;

  &:hover {
    background: rgb(255, 59, 59);
  }
}
.button-approve {
  background: rgb(131, 186, 52);
  color: white;

  &:hover {
    background: rgb(172, 224, 99);
  }
}
.button-warn {
  background: rgb(255, 137, 83);
  color: white;
}

.upper-block {
  margin-top: 20px;
}

.moderator-menu {
  display: flex;
  justify-content: space-between;
}
