.notification {
  position: fixed;
  background: red;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 40px;

  h3, p {
    margin: 0;
  }
  p {
    margin-top: 15px;
  }
}

.error {
  background: rgb(255, 59, 59);
  border: 4px solid rgb(234, 8, 8);
  color: white;
  border-radius: 3px;
  font-weight: bold;
}

.warning {
  background: rgb(255, 137, 83);
  border: 4px solid rgb(255, 104, 36);
  color: white;
  border-radius: 3px;
  font-weight: bold;
}

.primary {
  background: rgb(59, 186, 255);
  border: 4px solid rgb(8, 162, 234);
  color: white;
  border-radius: 3px;
  font-weight: bold;
}
