<div
  class="articles__card"
  *ngFor="let article of articles"
>
  <hr>
  <div class="card__header">
    <p>{{article.author?.firstname}} {{article.author?.lastname}}</p>
    <p>{{article.dateCreated | date : 'shortDate'}}</p>
  </div>

  <a [routerLink]="'article/' + article.id">{{article.title}}</a>

  <div class="card__tags">

  </div>

  <div [innerHTML]="article.content"></div>
  <button
    class="card__join"
    [routerLink]="'article/' + article.id">Читать дальше</button>

  <div class="card__info">
    <div class="card__info-item">
      <span>Рейтинг: <span appRatingColor>{{article.rating}}</span></span>
    </div>
    <span>&nbsp;|&nbsp;</span>
    <div class="card__info-item">
      <span>Зрителей: <span>{{article.viewers ? article.viewers : '0' }}</span> </span>
    </div>
    <span>&nbsp;|&nbsp;</span>
    <div class="card__info-item">
      <span>Комментариев: <span>{{article.comments ? article.comments : '0'}}</span> </span>
    </div>
  </div>
  <div class="card__admin" *ngIf="accountService.admin">
    <button class="button button__red" (click)="deleteArticle(article.id)">Удалить статью</button>
  </div>
</div>
