<form
  class="block"
  (submit)="tryRegistration()"
  [formGroup]="formGroup"
>
  <div class="forms">
    <input
      type="text"
      placeholder="Имя..."
      formControlName="firstName"
      [class.form-error]="formGroup.controls.firstName.touched && formGroup.controls.firstName.invalid"
    >

    <div class="control-error" *ngIf="formGroup.controls.firstName.touched">
      <p class="control-error__message" *ngIf="formGroup.controls.firstName?.errors?.required">
        Необходимо заполнить поле
      </p>

      <p class="control-error__message" *ngIf="formGroup.controls.firstName?.errors?.pattern">
        Имя имеет неверный формат
      </p>
    </div>

    <input
      type="text"
      placeholder="Фамилия..."
      formControlName="lastName"
      [class.form-error]="formGroup.controls.lastName.touched && formGroup.controls.lastName.invalid"
    >

    <div class="control-error" *ngIf="formGroup.controls.lastName.touched">
      <p class="control-error__message" *ngIf="formGroup.controls.lastName?.errors?.required">
        Необходимо заполнить поле
      </p>

      <p class="control-error__message" *ngIf="formGroup.controls.lastName?.errors?.pattern">
        Фамилия имеет неверный формат
      </p>
    </div>

    <input
      type="text"
      placeholder="Логин..."
      formControlName="login"
      [class.form-error]="formGroup.controls.login.touched && formGroup.controls.login.invalid"
    >

    <div class="control-error" *ngIf="formGroup.controls.login.touched">
      <p class="control-error__message" *ngIf="formGroup.controls.login?.errors?.required">
        Необходимо заполнить поле
      </p>
      <p class="control-error__message" *ngIf="formGroup.controls.login?.errors?.email">
        Неверный email
      </p>
    </div>

    <input
      type="password"
      placeholder="Пароль..."
      name="password"
      formControlName="password"
      [class.form-error]="formGroup.controls.password.touched && formGroup.controls.password.invalid"
    >

    <div class="control-error" *ngIf="formGroup.controls.password.touched">
      <p class="control-error__message" *ngIf="formGroup.controls.password?.errors?.required">
        Необходимо заполнить поле
      </p>
      <p class="control-error__message" *ngIf="formGroup.controls.password?.errors?.minlength">
        Длина пароля должна быть больше {{formGroup.controls.password?.errors?.minlength.requiredLength}} (текущий пароль - {{formGroup.controls.password?.errors?.minlength.actualLength}})
      </p>
    </div>

    <input
      type="password"
      placeholder="Повторите пароль..."
      name="password"
      formControlName="passwordRepeat"
      [class.form-error]="formGroup.controls.passwordRepeat.touched && formGroup.controls.passwordRepeat.invalid"
    >

    <div class="control-error" *ngIf="formGroup.controls.passwordRepeat.touched">
      <p class="control-error__message" *ngIf="formGroup.controls.passwordRepeat?.errors?.required">
        Необходимо заполнить поле
      </p>

      <p class="control-error__message" *ngIf="formGroup.controls.passwordRepeat?.errors?.repeat">
        Пароли не совпадают
      </p>
    </div>

  </div>
  <div class="footer">
    <button
      type="submit"
      [disabled]="formGroup.invalid"
      [class.btn-disabled]="formGroup.invalid"
    >Регистрация</button>
  </div>
</form>
