<div
  class="page"
  *ngIf="currentAccountId"
>

</div>

<div class="account-header">
  <div
    class="account-header__pic"
    [class.my-account]="currentAccountId === accountService.authAccountId"
  >
    <div class="account__pic account__no-pic">
      <h1 class="account__pic-current">
        {{currentAccount?.lastname[0].toUpperCase()}}
      </h1>
      <div class="account__pic-uploader">
        <label for="file">Обновить фото</label>
        <input type="file" class="account__pic-upload" id="file" accept="image/vnd.sealedmedia.softseal.jpg" (change)="uploadImageAccount($event.target.files[0])"/>
      </div>
    </div>
  </div>

  <div class="account-header__info">
    <ul>
      <li class="account-role">{{getRoles()}}</li>
      <li>{{currentAccount?.lastname}} {{currentAccount?.firstname}}</li>
      <li>Рейтинг: <span appRatingColor>{{currentAccount?.rating}}</span></li>
      <li appRolesAdmin>Установить роль...</li>
    </ul>
  </div>
</div>

<form action="http://localhost:3000/api/account/pic" method="post"  enctype="multipart/form-data">
  <input type="file">
  <button type="submit">submit</button>
</form>

<div class="account-tabs">
  <button>temp</button>
</div>
