.account-header {
  display: flex;
  background: rgb(253, 238, 222);
  padding: 30px 0 30px 15%;

  li {
    list-style-type: none;
  }

  li:not(:first-child) {
    margin-top: 10px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  &__info {
    margin: auto 0 auto 50px;
  }
}

.account {
  &__pic {
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    box-shadow: #333 1px 2px 5px -2px;
  }

  &__no-pic {
    background: rgb(246, 103, 153);

    h1,
    input {
      font-family: sans-serif;
      margin: auto;
      color: white;
      background: none;
    }

    h1:hover {
      cursor: default;
    }
  }

  &__pic-uploader {
    display: none;
    font-size: 14px;
  }

  &__pic-upload {
    font-size: 14px;
    text-align: center;
  }

  &-role {
    font-weight: bold;
  }
}

.my-account {
  transition: 0.2s !important;
  &:hover {
    backdrop-filter: blur(2px);
  }

  &:hover .account__pic-uploader {
    display: block;
  }

  &:hover .account__pic-current {
    display: none;
  }
}
